<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<header class="header">
    <div class="header__container">
        <img src="/img/perfil.jpg" alt="" class="header__img">
        <a href="" class="header__logo-name">nome</a>

        <a href="#" class="header__logo">IFVest</a>

        <div class="header__search">
            <input type="search" placeholder="Search" class="header__input">
            <i class='bx bx-search header__icon'></i>
        </div>

        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
    </div>
</header>