<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/CSS/Listas.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/inicio.css'>
    <script src='main.js'></script>
</head>
<body>

    <input type="checkbox" id="navcheck" role="button" title="menu">
<label for="navcheck" aria-hidden="true" title="menu">
	<span class="burger">
		<span class="bar">
			<span class="visuallyhidden">Menu</span>
		</span>
	</span>
</label>
<nav id="menu">
	<a href="#">inicio</a>
	<a href="#">Perfil</a>
	<a href="#">Noticias</a>
	<a href="#">Aulas</a>
	<a href="#">login/logout</a>
	<a href="#">Adecidir</a>
</nav>
    <main>
        <ol class="gradient-list">
          <li><a href="www.youtube.com">Youtube</a><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li><a href="www.youtube.com">Youtube</a><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li><a href="www.youtube.com">Youtube</a><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
        </ol>
      </main>
</body>
</html>