<!--========== HEADER ==========-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    #perfilImage {
        cursor: pointer;
    }
    .nav__logo-img {
    width: 50px;
    height: 50px;
}
.nav__link.active {
    color: #12B886; /* Altera a cor do texto para verde */
}

</style>
<header class="header">
    <div class="header__container">

        <a href="" class="header__logo">IFVest</a>

        <div class="header__search">
            <input type="search" placeholder="Search" class="header__input">
            <i class='bx bx-search header__icon'></i>
        </div>

        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>

      
        <div style="display: flex; align-items: center;">
            <a href="/usuario/perfil" class="header__logo-name" style="margin-right: 10px;">
                <%= nomeUsuario %>
            </a>
           
            <img src="<%= imagemPerfil ? imagemPerfil : '/img/profile.jpg' %>" alt="Perfil" class="header__img" id="perfilImage">


            
        </div>
 

    </div>
</header>

<!--========== NAV ==========-->
<div class="nav" id="navbar">
    <nav class="nav__container">
        <div>
            <a href="/usuario/iniciologado" class="nav__link nav__logo">
                <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/12B886/if.png" alt="if"/>
                
            </a>

            <div class="nav__list">
                <div class="nav__items">
                    <h3 class="nav__subtitle">Perfil</h3>

                    <a href="/usuario/iniciologado" class="nav__link active">
                        <i class='bx bx-home nav__icon'></i>
                        <span class="nav__name">Inicio</span>
                    </a>

                    <div class="nav__dropdown">
                        <a href="/usuario/perfil" class="nav__link">
                            <i class='bx bx-user nav__icon'></i>
                            <span class="nav__name">Perfil</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <!-- <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                <a href="#" class="nav__dropdown-item">Favoritos</a>
                                <a href="#" class="nav__dropdown-item">Email</a>
                                <a href="#" class="nav__dropdown-item">Opção</a>
                            </div>
                        </div> -->
                    </div>

                    <a href="#" class="nav__link">
                        <i class='bx bx-message-rounded nav__icon'></i>
                        <span class="nav__name">Mensagens</span>
                    </a>
                </div>

                <div class="nav__items">
                    <h3 class="nav__subtitle">Menu</h3>

                    <div class="nav__dropdown">
                        <a href="#" class="nav__link">
                            <i class='bx bx-bell nav__icon'></i>
                            <span class="nav__name">Notificação</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                <a href="#" class="nav__dropdown-item">Bloqueada</a>
                                <a href="#" class="nav__dropdown-item">Silenciada</a>
                                <a href="#" class="nav__dropdown-item">Publicada</a>
                                <a href="#" class="nav__dropdown-item">Talvez</a>
                            </div>
                        </div>

                    </div>

                    <a href="#" class="nav__link">
                        <i class='bx bx-compass nav__icon'></i>
                        <span class="nav__name">Explore</span>
                    </a>
                    <a href="#" class="nav__link">
                        <i class='bx bx-bookmark nav__icon'></i>
                        <span class="nav__name">Saved</span>
                    </a>

                    <div class="nav__dropdown">
                        <a href="#" class="nav__link">
                            <i class='bx bx-book-heart nav__icon'></i>
                            <span class="nav__name">Materias</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>


                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">


                            </div>
                        </div>

                    </div>
                    <div class="nav__dropdown">
                        <a href="/usuario/video" class="nav__link">
                            <i class='fas fa-video nav__icon'></i>
                            <span class="nav__name">Videos</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>



                    </div>

                    <div class="nav__dropdown">
                        <a href="#" class="nav__link">
                            <i class='bx bx-book-heart nav__icon'></i>
                            <span class="nav__name">Simulados</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>


                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                <% if (perfilUsuario==="PROFESSOR" ) { %>
                                    <div class="nav__dropdown">
                                        <a href="#" class="nav__link">
                                            <span class="nav__name">Criar Questões</span>
                                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                                        </a>

                                        <div class="nav__dropdown-collapse">
                                            <div class="nav__dropdown-content">
                                                <a href="/professor/registrar-questao/objetiva"
                                                    class="nav__dropdown-item">Objetiva</a>
                                                <a href="/professor/registrar-questao/dissertativa"
                                                    class="nav__dropdown-item">Disserta<br>tiva</a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/professor/questoes" class="nav__dropdown-item">Minhas questões</a>
                                    <a href="/professor/criar-topicos" class="nav__dropdown-item">Criar Topicos</a>
                                    <a href="/professor/topicos" class="nav__dropdown-item">Meus Topicos</a>
                                    <% } %>
                                        <a href="/usuario/criar-simulado" class="nav__dropdown-item">Criar Simulado</a>
                                        <a href="/usuario/Simulados" class="nav__dropdown-item">Meus Simulados</a>
                                        <!-- <a href="/usuario/seleciona-simulado" class="nav__dropdown-item">Consultar simulados</a> -->


                            </div>
                        </div>

                    </div>
                </div>
            </div>
          
        </div>

        <form action="/logoff" method="post" class="nav__logout-form">
            <button type="submit" class="nav__link nav__logout" style="border: none; background-color: transparent;">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </button>
        </form>
       
    </nav>
</div>
<script>
    document.getElementById('perfilImage').addEventListener('click', function() {
        window.location.href = '/usuario/perfil';
    });
</script>

<!--========== CONTENTS ==========-->