body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Amatic SC", sans-serif
}
.menu {
  display: none
}
.bgimg {
  background-repeat: no-repeat;
  background-size:contain;
  background-image: url("/images/if.png");
  min-height: 90%;
}

.cor{
  background-color: #2f2841;
  color: #00ff88;
}

.cor2{
  background-color: #94379c;
  color: white;
}


